<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2025.2.520(AdditionalPackages)" value="D:\Work\WebDev\Zimozi\telerik\Telerik UI for ASP.NET Core 2025 Q2\" />
    <add key="Telerik UI for ASP.NET Core 2025.2.520(MainPackage)" value="D:\Work\WebDev\Zimozi\telerik\Telerik UI for ASP.NET Core 2025 Q2\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>